version: "3.8"

services:
  billing-service:
    build: ../billing-service
    container_name: billing-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - integration-network

  brvm-scraper:
    build: ../brvm-scraper-service
    container_name: brvm-scraper
    environment:
      FLASK_ENV: production
    ports:
      - "5000:5000"
    networks:
      - integration-network

  wso2-mi:
    image: wso2/wso2mi:4.4.0
    container_name: wso2-mi
    ports:
      - "8290:8290"
      - "8253:8253"
    volumes:
      - ./carbonapps/billingintegration_1.0.0.car:/home/wso2carbon/wso2mi-4.4.0/repository/deployment/server/carbonapps/billingintegration_1.0.0.car
    depends_on:
      - billing-service
      - brvm-scraper
    networks:
      - integration-network

networks:
  integration-network:
    driver: bridge
